{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block content %}

<div class="container general-info">
  <div class="row section-title">
    <div class="col-12">
      <h2 class="section">{% trans "About me" context "Homepage title" %}</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-sm-12">
      <img class="img-fluid" src="{% static "images/img_chef_5.jpg" %}" alt="Ale"/>
    </div>
    <div class="col-md-8 col-sm-12 section-content">
      <p>{% trans "My name is Alessandra but I’m called Ale." context "Homepage title" %}</p>
      <p>{% trans "I started experimenting from a very young age with food. I always liked to cook, even when I had no idea yet how to combine ingredients well." context "Homepage title" %}</p>
      <p>{% trans "When I moved to Europe in 2002, I started to take more and more attention and interest in cooking. I found out that I was really enjoying to re-create food I had tried, without the original recipe, cooking spontaneously." context "Homepage title" %}</p>
      <p>{% trans "I arrived to the Netherlands in 2006 for the love of a Dutch man. We met in Madrid in 2004 and then our story began." context "Homepage title" %}</p>
      <p>{% trans "In Peru, where I come from, we believe that food brings people together, and I really enjoy to cook for my family and friends. It always is a good excuse to have them around us." context "Homepage title" %}</p>
      <p>{% trans "Baking birthday cakes for my own kids and my friends, was the beginning of my passion for baking." context "Homepage title" %}</p>
      <p>{% trans "Soon after, the Happy Baker was born!" context "Homepage title" %}</p>
    </div>
  </div>
</div>

    {% include 'happy_baker/_categories.html' %}
{% endblock %}
