{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block content %}

<div class="container general-info">
  <div class="row section-title">
    <div class="col-12">
      <h2 class="section">{% trans "About me" context "Homepage title" %}</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-sm-12">
      <img class="img-fluid" src="{% static "images/img_chef_1.jpg" %}" alt="Ale"/>
    </div>
    <div class="col-md-8 col-sm-12 section-content">
      <p>{% trans "My name is Alessandra, my friends call me Ale. Please, call me Ale!" context "Homepage title" %}</p>
      <p>{% trans "I started experimenting since a very young age with food. I always liked to cook, even when was a time I had no idea how to combine stuff." context "Homepage title" %}</p>
      <p>{% trans "When I moved to Europe I started taking seriously the fact that if I wanted to eat like home, I need to cook it myself. I found out that I was really enjoying to recreate the home food without the receipt, to cook spontaneously." context "Homepage title" %}</p>
      <p>{% trans "I arrived to the Netherlands 11 years ago for the love of a Dutch man. We met in Madrid in 2004 and then our story began." context "Homepage title" %}</p>
      <p>{% trans "In Peru, when I come from, we believe food brings people together, and I really like to cook for family and friends. It is always a good excuse to having them around us." context "Homepage title" %}</p>
      <p>{% trans "To bake birthday cakes for them and my own kids was the beginning of my baking passion." context "Homepage title" %}</p>
      <p>{% trans "They always support the idea of me doing my own business and after some time thinking about it, is the Happy Baker born!" context "Homepage title" %}</p>
    </div>
  </div>
</div>

{% endblock %}
