.footer {
  background-color: $gray;
  padding: $global-padding * 2 0;
  margin-top: $global-margin * 1;
  @include media-breakpoint-down(xs) {
    text-align: center;
  }
  &__logo {
    margin-bottom: $global-margin;
    svg {
      @include media-breakpoint-down(md) {
        height: 30px;
      }
      @include media-breakpoint-down(sm) {
        height: 40px;
      }
    }
  }
  ul {
    list-style: none;
    padding-left: 0;
    a {
      color: $white;
      line-height: 2;
    }
  }
  img.img-fluid{
    max-width: 100%;
    height: auto;
  }
  .social{
    margin: auto 0;
    a {
      transition: 0.3s;
      &:hover {
        text-decoration: none;
        opacity: 0.6;
      }
      display: block;
      padding: $global-padding * 0.5;
      float: right;
      .social-icon{
        width: 50px;
        height: 50px;
      }
    }
  }
}

  .maincontent {
  @include media-breakpoint-down(sm) {
    margin-top: $global-margin * 12; //test
    overflow-x: hidden;
  }
}
