{% extends "base.html" %}
{% load i18n %}

{% block content %}

    <div class="home">
      <div class="row">
        <div class="col-sm-12 home__block1">
          <div class="home--square">
            <div class="home--content">
              <div class="home--content-wrapper">
                <div class="home--content-inner">
                  <h1>{% trans "Important Allergy Information" context "Homepage title" %}</h1>
                  <h2>{% trans "All of our products includes dairy, eggs, gluten." context "Homepage title" %}</h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

{% endblock %}
