{% load staticfiles %}
{% load i18n %}

<footer class="footer" >
  <div class="container">
    <div class="row">
      <div class="col-md-4 hidden-sm-down">
        <img class="img-fluid" src="{% static "images/spoon_horizontal.png" %}"/>
      </div>
      <div class="col-md-6 col-sm-8">
        <img class="img-fluid" src="{% static "images/happy-baker-text.png" %}"/>
      </div>
      <div class="col-md-2 col-sm-4 social">
        <a target="_blank" rel="noopener" href="https://www.facebook.com/TheHappyBakerAmstelveen/">
          <img class='social-icon' src="{% static "images/fb-icon-50.png" %}" />
        </a>
        <a target="_blank" rel="noopener" href="https://www.instagram.com/thehappybakeramstelveen/">
          <img class="social-icon" src="{% static "images/ig-icon-50.png" %}" />
        </a>
      </div>
    </div>
  </div>
</footer>
