{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block content %}

    <div class="home">
      <div class="row">
        <div class="col-sm-12 home__block1">
          <div class="home--square">
            <div class="home--content">
              <div class="home--content-wrapper">
                <div class="home--content-inner">
                    <div><img src="{% static "images/happy-baker.png" %}" alt="The Happy Baker" height="600px"></img></div>
                  <h1>{% trans "Welcome to the Happy Baker website!" context "Homepage title" %}</h1>
                  <h2>{% trans "Homemade, artisan and fresh quiches and cheesecakes are just few clicks away…" context "Homepage title" %}</h2>
                    <h2>{% trans "Enjoy the experience!" context "Homepage title" %}</h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

{% endblock %}
