{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}


{% block content %}

    <div class="home">
      <div class="row">
        <div class="col-sm-12 home__image1">
          <div class="home--square" id="img_rotation">
            <div class="home--content">
              <div class="home--content-wrapper">
                <div class="home--content-inner">
                    &nbsp
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    <div class="home">
      <div class="row">
        <div class="col-sm-12 home__block1">
          <div class="home--square">
            <div class="home--content">
              <div class="home--content-wrapper">
                <div class="home--content-inner">
                    <h1 style="color:black">{% trans "Welcome to the Happy Baker website!" context "Homepage title" %}</h1>
                  <p style="color:black">{% trans "Homemade, artisan and fresh food is just a few clicks away…" context "Homepage title" %}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    <div class="home">
      <div class="row">

        {% for category in categories %}
        <div class="col-sm-4 home__cat{{ forloop.counter }}">
          <div class="home--square">
            <div class="home--content">
              <div class="home--content-wrapper">
                <div class="home--content-inner">
                    <h1>{{ category }}</h1>
                    <a class="btn btn-secondary home__button" href={{ category.get_absolute_url }}>
                        {% trans "Shop now" context "Homepage action" %}
                    </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        {%  endfor %}

      </div>
    </div>

<script>
$(document).ready(function() {
    var images = [
        "url({% static "images/img_assortment_2.jpg" %})",
        "url({% static "images/img_cheesecake_1.jpg" %})",
        "url({% static "images/img_assortment_1.jpg" %})"
    ];

    var i = 0;

    setInterval(function() {
        alert('hoi');
        if(links.length == i){
            i = 0;
        }
        else {
            document.getElementById("img_rotation").style.backgroundImage = images[i];
            i++;
        }
    }, 1000);
});
</script>

{% endblock %}
