{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block content %}
    <div class="home">
      <div class="row">
        <div class="col-sm-12 home__block1">
          <div class="home--square">
            <div class="home--content">
              <div class="home--content-wrapper">
                <div class="home--content-inner">
                    <h1>{% trans "Welcome to the Happy Baker website!" context "Homepage title" %}</h1>
                  <p>{% trans "Homemade, artisan and fresh quiches and cheesecakes are just few clicks away…" context "Homepage title" %}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    <div class="home">
      <div class="row">
        <div class="col-sm-12 home__image1">
          <div class="home--square">
            <div class="home--content">
              <div class="home--content-wrapper">
                <div class="home--content-inner">
                    &nbsp
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <div class="home">
      <div class="row">
        <div class="col-sm-12 home__block1">
          <div class="home--square">
            <div class="home--content">
              <div class="home--content-wrapper">
                <div class="home--content-inner">
                    <h2>{% trans "Enjoy the experience!" context "Homepage title" %}</h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

{% endblock %}
